<template>
    <div class="card card-default">
        <form class="card-body">
            <div class="mb-2">
                <label class="form-label required">Description*</label>
                <input type="text" class="form-control" v-model="form.description">
            </div>
            <div class="mb-2">
                <label class="form-label required">Pay for*</label>
                <select class="form-control" v-model="form.payFor">
                    <option value="hour">Per hour</option>
                    <option value="item">Per item</option>
                    <option value="weight">Per weight</option>
                </select>
            </div>
            <div class="mb-2" v-if="form.payFor">
                <label class="form-label required">Price per <b>{{ pricePerPayForDict[form.payFor] || '' }}, $</b></label>
                <input type="number" class="form-control" v-model="form.pricePerQuantity">
            </div>
            <div class="mb-2" v-if="form.payFor">
                <label class="form-label required"><b>{{ quantityPayForDict[form.payFor] || '' }}</b></label>
                <input type="number" class="form-control" v-model="form.quantity">
            </div>
            <button class="btn btn-success me-2" @click.prevent="submitForm()">Add item</button>
            <button class="btn btn-warning" @click.prevent="clearForm()">Clear form</button>
        </form>
    </div>
</template>

<script>
const initFormData = {
    description: '',
    payFor: '',
    pricePerQuantity: 0,
    quantity: 0
}

export default {
    name: 'LineItemForm',
    data: () => {
        return {
            form: {},

            pricePerPayForDict: {
                'hour': 'one hour',
                'item': 'one item',
                'weight': 'one kilogramm'
            },
            quantityPayForDict: {
                'hour': 'Hours spent',
                'item': 'Items provided',
                'weight': 'Weight, kg'
            }
        }
    },
    mounted() {
        this.clearForm()
    },
    methods: {
        clearForm() {
            this.form = Object.assign({}, initFormData)
        },
        submitForm() {
            this.$emit('add_item', Object.assign({
                id: (new Date().getTime())
            }, this.form))
            this.clearForm()
        }
    }
}
</script>

<style>

</style>