<template>
    <div>
        <h1 class="text-center">
            <router-link to="/" class="btn btn-link float-start mt-2">← back to list</router-link>
            Add invoice
        </h1>
        

        <form>
            <div class="mb-3">
                <label class="form-label required">Full name*</label>
                <input type="email" class="form-control" v-model="form.name">
            </div>
            <div class="mb-3">
                <label class="form-label required">Email address*</label>
                <input type="email" class="form-control" v-model="form.email">
            </div>
            <div class="mb-3">
                <label class="form-label">Due date</label>
                <input type="date" class="form-control" v-model="form.dueDate">
            </div>

            <h4>Line items</h4>
            <line-item-form class="mb-2" @add_item="addLineItem($event)"></line-item-form>
            <table class="table table-striped table-hover mb-3" v-if="form.lineItems && form.lineItems.length">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Pay for</th>
                        <th class="text-end">Price per quantity</th>
                        <th class="text-end">Quantity</th>
                        <th class="text-end">Amount</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="lineItem in form.lineItems" :key="lineItem.id">
                        <td>{{ lineItem.description }}</td>
                        <td>{{ lineItem.payFor }}</td>
                        <td class="text-end">{{ (+lineItem.pricePerQuantity).toFixed(2) }}$</td>
                        <td class="text-end">{{ lineItem.quantity }}</td>
                        <td class="text-end">{{ (+lineItem.pricePerQuantity * +lineItem.quantity).toFixed(2) }}$</td>
                        <!-- <td> todo actions like delete or edit? </td> -->
                    </tr>
                </tbody>
            </table>

            <div class="mt-3">
                <h5>Total ammount: {{ (+total_ammount).toFixed(2) }}$</h5>
                <button class="btn btn-success" @click.prevent="submitForm()">Send invoice</button>
            </div>

            <div class="mt-4 alert alert-danger" v-show="error">{{ error }}</div>
        </form>
    </div>
</template>

<script>
import LineItemForm from '../../components/LineItemForm.vue'

const initFromData = {
    name: '',
    email: '',
    dueDate: '',
    lineItems: []
}
export default {
    data: () => {
        return {
            form: {},
            error: ''
        }
    },
    computed: {
        total_ammount() {
            return this.form?.lineItems?.length ? this.form.lineItems.reduce((prev, curr)=> { return prev += curr.quantity * curr.pricePerQuantity }, 0) : 0
        }
    },
    mounted() {
        this.clearForm()
    },
    methods: {
        clearForm() {
            this.form = Object.assign({}, initFromData)
            this.form.lineItems = []
        },
        addLineItem(lineItem) {
            this.form.lineItems.push(lineItem)
        },
        async submitForm() {
            //do checks
            if(!this.form.name) return this.showError('fill name')
            if(!this.form.email) return this.showError('fill email')
            if(!this.form.lineItems?.length) return this.showError('fill line items')

            let response = await this.$http.post('/invoice/add', {...this.form})
            //if error do something
            
            this.$router.push('/')
        },
        showError(error) {
            this.error = error 
            setTimeout(() => {
                this.error = ''
            }, 3000)
        }
    },
    components: {
        LineItemForm
    }
}
</script>

<style>

</style>