<template>
    <div>
        <h1 class="text-center">
            Invoice list
            <router-link to="/add" class="btn btn-outline-primary float-end mt-2">+ Add invoice</router-link>
        </h1>
        
        <div class="mb-3">
            <button class="btn btn-sm btn-outline-secondary float-start me-3" @click.prevent="getInvoices()">reload Invoices</button>

            <div class="form-check form-switch float-start mt-1">
                <input class="form-check-input" type="checkbox" role="switch" id="showOverDueSwitch" v-model="showOverdue">
                <label class="form-check-label" for="showOverDueSwitch">Show overdue invoices</label>
            </div>
        </div><div class="clearfix mb-3"></div>

        <div v-for="item in sortedItems" :key="item.id" class="card mb-2">
            <div class="card-body">
                <h4 class="mb-3">
                    #{{ item.id }} to <small>{{ item.name }}</small> (<small>{{ item.email }}</small>)
                    <span class="float-end badge" :class="invoiceStatusClass(item)">{{ item.status }}</span>
                </h4>

                <table class="table table-hover table-borderless table-sm">
                    <tbody>
                        <tr v-for="lineItem in item.lineItems" :key="lineItem.id">
                            <td>{{ lineItem.description }}</td>
                            <td class="text-end">{{ (+lineItem.pricePerQuantity).toFixed(2) }}$ * {{ lineItem.quantity }} {{ pricePerPayForDict[lineItem.payFor] }}</td>
                            <th class="text-end">{{ (+lineItem.pricePerQuantity * +lineItem.quantity).toFixed(2) }}$</th>
                        </tr>
                    </tbody>
                    <tfoot class="table-secondary">
                        <tr>
                            <th>Total</th>
                            <td></td>
                            <th class="text-end">{{ totalInvoiceAmount(item).toFixed(2) }}$</th>
                        </tr>
                    </tfoot>
                </table>

                <span v-if="item.dueDate">Due date <b>{{ item.dueDate }}</b></span>
            </div>
            
        </div>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            items: [],
            showOverdue: false,
            pricePerPayForDict: {
                'hour': 'hours',
                'item': 'items',
                'weight': 'kg'
            },
        }
    },
    computed: {
        filteredItems() {
            return this.items.filter((item) => {
                if(this.showOverdue === true) {
                    return item.status === 'late'
                }
                return true
            })
        },
        sortedItems() {
            let items = this.filteredItems
            return items.sort((a, b) => {
                return b.id - a.id
            })
        }
    },
    mounted() {
        this.getInvoices()
    },
    methods: {
        async getInvoices() {
            let response = await this.$http.get('/invoice/list')
            if(response.data?.success)
                this.items = response.data.data || []
            else {
                //error?
            }
        },
        invoiceStatusClass(invoice) {
            if(invoice.status == 'open') return 'bg-primary'
            if(invoice.status == 'paid') return 'bg-success'
            if(invoice.status == 'declined') return 'bg-secondary'
            if(invoice.status == 'late') return 'bg-warning text-dark'
        },
        totalInvoiceAmount(invoice) {
             return invoice?.lineItems?.length ? invoice.lineItems.reduce((prev, curr)=> { return prev += curr.quantity * curr.pricePerQuantity }, 0) : 0
        }
    }
}
</script>

<style>

</style>