<template>
	<div>
         <!-- Start Content-->
        <div class="container">
        	<!-- Begin page -->
            <div class="wrapper">

                <div class="content-page">
                    <div class="content">
                    	<transition name="fade" mode="out-in"><router-view></router-view></transition>
                    </div>
                </div>

            </div>
        </div>
	</div>
</template>

<script>
export default {
	name: 'MainLayout',
	data: () => {
		return {

		}
	},
    mounted() {

    },
	methods: {

    },
    components: {
    }
};
</script>

<style scoped>
.container {
    max-width: 800px !important;
}
</style>